table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 5px;
}

table tr {
    background-color: #f2f2f2;
}

table th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: pink;
    color: white;
}


.product-image{
    height: 40px;
    border-radius: 5px;
}

.table-cont{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 89%;
    border-color: pink;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    table {
        width: fit-content;
    }
    .inp-cont{
        flex-direction: column;
    }
    .table-cont{
        overflow-x: scroll;
    }
}
.inp-cont{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: pink;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.main-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.chartsCont{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.search-bar{
    border-color: red;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.5px;
    padding: 8px;
    width: 300px;
    display: flex;
    background-color: #ffffff;
}

.search-element{
    outline: none;
    border-width: 0px;
    width: 100%;
}

.drop-down{
    border-color: pink;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.5px;
    outline: none;
    padding: 5px;
    width: 200px;
    color: red;
    font-weight: 600;
}

.drop-down2{
    border-color: pink;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.5px;
    outline: none;
    padding: 5px;
    width: 130px;
    color: red;
    font-weight: 600;
}

.table-head{
    color: #FFFFF0;
}

.head{
    color: #FF5733;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .chartsCont{
        flex-direction: column;
    }
    .search-bar{
        width: 100%;
    }
}
  